:root {
    --primary-brand-color:#4D5AE5;
    --dark-color:#2E2F42;
    --text-color:#434455;
    --cloud-color:#ffffff;
    --cornflower-color:#E7E9FC;
}

.logo {
    color:var(--primary-brand-color);
}

.logo-two {
    color: var(--dark-color);
}

.body {
    background-color:var(--cloud-color);
    color:var(--dark-color);
}

.list {
    list-style: none;
}

.site-nav a {
    color:var(--dark-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--primary-brand-color);
}

.contacts-nav a {
    color:var(--text-color);

}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
    color: var(--primary-brand-color);
}

