:root {
    --primary-brand-color:#4D5AE5;
    --dark-color:#2E2F42;
    --text-color:#434455;
    --cloud-color:#ffffff;
    --cornflower-color:#E7E9FC;
    --lightcloud-color:#F4F4FD;
    --pressedstate-color:#404BBF;
    
}

.logo {
    color:var(--primary-brand-color);
}

.logo-two {
    color: var(--dark-color);
}

.body {
    background-color:var(--cloud-color);
    color:var(--dark-color);
}

.list {
    list-style: none;
}

.site-nav a {
    color:var(--dark-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--primary-brand-color);
}

.contacts-nav a {
    color:var(--text-color);

}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
    color: var(--primary-brand-color);
}

.hero-title {
    color:var(--cloud-color);
}

.button {
    color: var(--cloud-color);
    background-color:var(--primary-brand-color);
}

.features-title,
.work-title {
    color:var(--dark-color);
}

.features {
    color:var(--text-color);
}

.command-title {
    color:var(--dark-color);
}

.command {
    color:var(--text-color);
}

.basement {
    color: var(--cornflower-color);
}




.filters-button .link {
    color: var(--primary-brand-color);
    background-color:var(--lightcloud-color);
}

.filters-button .link:focus,
.filters-button .link:hover {
    color:var(--cloud-color);
    background-color:var(--pressedstate-color);
}

.projects .title {
    color:var(--dark-color);
}

.projects {
    color: var(--text-color);
}


